<script setup lang="ts">
import AddressBookForm from './AddressBookForm.vue'
import AddressBookList from './AddressBookList.vue'


</script>

<template>
  <div>
    <AddressBookForm />
    <AddressBookList />
  </div>
</template>

